<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gopherdoc.coinsetter.trader">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:versionCode="2"
        android:versionName="1.01" >
        <activity
            android:name="gopherdoc.coinsetter.trader.ActivitySettings"
            android:configChanges="keyboardHidden|orientation"
            android:label="Settings"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="gopherdoc.coinsetter.trader.ActivityAbout"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_about"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="gopherdoc.coinsetter.trader.ActivitySplash"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gopherdoc.coinsetter.trader.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>
